#product {
  margin-top: 100px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
#prod_name {
  color: red;
}
#search {
  position: relative;
}
#search input {
  margin-top: 6px;
  background-color: none !important;
  border: 1px solid white;
  outline-style: none;
  width: 180px;
  height: 23px;
}

#search button {
  position: absolute;
  top: 6px;
  right: 0;
  border: 1px solid white;
  background-color: white !important;
  height: 23px;
}
#price_about {
  color: #ffd028;
}
.err_user {
  margin-top: 10px;
  color: red;
}

.login {
  color: red;
}
#myForm {
  width: 600px;
}
#textcmt {
  height: 100px;
}
#cmtUsers {
  width: 600px;
}
.lable {
  min-width: 200px;
  opacity: calc(60%);
}

#profile {
  display: flex;
  justify-content: space-around;
}
#setAvt {
  margin-left: 70px;
  margin-top: 30px;
}
#messRequest {
  height: 210px;
}

.pageation {
  list-style-type: none;
}
